@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

  background-color: #f5f5f5;
  font-family: "Inter";
}

ul {
  padding: 0;
}

li {
  text-transform: capitalize;
  list-style-type: none;
  padding: 14px 48px;
  text-decoration: none;
  font-family: "Inter";
  color: #71717a;
}

li:hover,
li:focus,
.active_link {
  background-color: #fafafa;
  color: #f97316;
}

span {
  color: #f97316;
}
