.sidebar {
  width: 318px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.sidebar p {
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  padding: 16px 24px;
  margin: 0;
}
